

* { box-sizing: border-box }

body {
  font-family: sans-serif;
}

.slide .inside {
display: table;
height: 100%;
width: 100%;
padding: 0 3em;
}
.slide .inside p {
display: table-cell;
width: 100%;
clear: both;
vertical-align: middle;
text-align: center;
}


.carre {
position: fixed;
background-color: black;
height: 300px;
width: 300px;
top: 50%;
left: 30%;
transform: translate(-50%, -50%);
}

html {
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0px;
background: transparent;
}
::-webkit-scrollbar-thumb {
background: #FF0000;
}

body {
  transition: background 1s ease;
   background: #3498db;
   overflow-y: hidden;
}

.title-custom {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 5%;
}

p {
  color: #fff;
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
}

.ima {
  width: 50%;
  float: right;
}

.etape {
  text-align: center;
  color: #fff;
  margin-top: 7%;
  margin-bottom: 15%;
}
hr {
    display: block;
    clear: both;
    height: 0;
    margin: 40px 0 80px;
    padding: 0;
    border: 0;
    font-family: arial;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}

.medium-size {
  margin-top: 15%;
  transform: translate(0, -10%);
  width: 40%;
  float: right;
  padding-right: 40px;
  margin-right: 6%;
}

span {
  clear: both;
  font-size: .7em;
  color: #bdc3c7;
}

a {
  color: #c0392b;
  text-decoration: none;
}

.slide {

  .inside {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0 3em;

    p {
      display: table-cell;
      width: 100%;
      clear: both;
      vertical-align: middle;
      text-align: center;
    }
  }
}
